<div class="home-container">
  <div class="rooms-container">
    <app-rooms-list [selectedRoomId]="selectedRoom?.roomId" (roomSelected)="onRoomSelected($event)"></app-rooms-list>
  </div>

  <div class="chat-container">
    <div class="messages-container">
      <app-messages-list [roomId]="selectedRoom?.roomId"></app-messages-list>
    </div>
    <div class="message-input-container">
      <input type="text" [(ngModel)]="newMessageText" (keyup.enter)="sendMessage()" placeholder="Type a message...">
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>

  <div class="users-container">
    <app-users-list (userSelected)="onUserSelected($event)"></app-users-list>
  </div>
</div>
