.home-container {
  display: flex;
  height: 100vh;
}

.rooms-container {
  width: 20%;
  border-right: 1px solid #ccc;
}

.chat-container {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto;
}

.message-input-container {
  display: flex;
  padding: 1rem;
  border-top: 1px solid #ccc;
}

.message-input-container input {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 5px;
}

.message-input-container button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.users-container {
  width: 20%;
  border-left: 1px solid #ccc;
}
